# http://editorconfig.org
root = true

[*.{js,json,jsx,html,css,less}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 0
trim_trailing_whitespace = true
trim_trailing_white_space_on_save = true

[*.md]

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = 0
